@charset "utf-8";

/* Fonts */

/* Main Styles */

html{
    background-image: url(../restaurant-site/images/background.png);
    background-size: 30%;
    max-width: 100vw;
    
}


body{
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    align-content: center;
    background-color: rgb(27, 211, 231);
    border-color: rgb(170, 246, 255);
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    box-shadow: rgba(40, 16, 77, 0.358) 1px 0px 0px, rgba(40, 16, 77, 0.358) -1px 0px 5px;
    padding: 7px;
    max-width: 100vw;
 
}

header > img{
    display: flex;
    align-self: flex-start;
    justify-self: center;
}

/* Nav Styles */
nav.horizontal ul {
    justify-content: space-around;
    background-color: rgb(255, 177, 86);
    border-color: rgb(255, 234, 131);
    border-radius: 14px;
    border-width: 5px;
    border-style: solid;
    box-shadow: rgba(40, 16, 77, 0.358) 1px 0px 0px, rgba(40, 16, 77, 0.358) -1px 0px 5px;
    height: 3em;
    max-width: 100%;
    display: flex;
    text-align: start;
    align-items: center;
    align-self: flex-start;
}

nav.horizontal ul > li{
    list-style-type: none;
    display: flex;
}

/* Article Styles */

#paragraphs{
    background-color: aliceblue;
    border-style: solid;
    border-color: rgb(27, 211, 231);
    border-radius: 16px;
    border-width: 5px;
    box-shadow: rgba(40, 16, 77, 0.358) 1px 0px 0px, rgba(40, 16, 77, 0.358) -1px 0px 5px;
    margin: 5em;
    padding: 1em;
}

/* Footer Styles */

footer{
    background-color: rgb(27, 211, 231);
    border-color: rgb(170, 246, 255);
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    box-shadow: rgba(40, 16, 77, 0.358) 1px 0px 0px, rgba(40, 16, 77, 0.358) -1px 0px 5px;
    padding: 3em;
    max-width: 100vw;
    height: 5em;
    text-align: center;
    align-content: flex-end;
    justify-content: space-around;
    justify-items: space-evenly;
}

footer > h2{
    align-self: center;
}


/*Mobile Devices: 0 to 480px*/
@media only screen and (max-width: 480px) {
   header > img {
      max-height: 10em;
      min-height: auto;
   }


}

/*Mobile Devices: 0 to 480px*/
@media only screen and (min-width: 481px) {
   header > img {
      max-height: 25em;
      min-height: auto;
   }


}