@charset "utf-8";

/* Fonts */

/* Main Styles */

html{
    background-image: url(../restaurant-site/images/background.png);
    background-size: 30%;
}


body{
    display: block;
}

header{
    text-align: center;
    align-content: center;
    background-color: rgb(255, 219, 110);
    max-width: 100%;
}

header > img{
    display: flex;
    align-self: flex-start;
    justify-self: center;
}

/* Nav Styles */
nav.horizontal ul {
    justify-content: space-around;
    background-color: rgb(255, 219, 110);
    height: 3em;
    max-width: 100%;
    display: flex;
    text-align: start;
    align-items: center;
    align-self: flex-start;
}

nav.horizontal ul > li{
    list-style-type: none;
    display: flex;
}





/*Mobile Devices: 0 to 480px*/
@media only screen and (max-width: 480px) {
   header > img {
      max-height: 10em;
      min-height: auto;
   }


}

/*Mobile Devices: 0 to 480px*/
@media only screen and (min-width: 481px) {
   header > img {
      max-height: 25em;
      min-height: auto;
   }


}